PArtilaAndCurry/ConsoleApp17/.vs/ConsoleApp17/v15/Server/sqlite3/storage.ide-shm
PArtilaAndCurry/ConsoleApp17/.vs/ConsoleApp17/v15/Server/sqlite3/storage.ide-wal
PArtilaAndCurry/ConsoleApp17/.vs/ConsoleApp17/v15/Server/sqlite3/db.lock
